@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Collins St <br />
    Melbourne, VIC 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

